<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDERR"/>
    </root>
    
    <!-- Suppress noisy Micronaut startup logs -->
    <logger name="io.micronaut" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
</configuration>
